# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.env
.venv/
venv/
ENV/

# Logs
*.log

# IDE
.vscode/
.idea/

# Docker
*.pid
*.sock
docker-data/
certs/